
{% extends 'html/header.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="card col-md-8 mx-2">
			<h3>Sample1</h3>
			<div class="row">
				<div class="col mx-1 jumbotron">
					<h4>J1</h4>
				</div>
				<div class="col mx-1 jumbotron">
					<h4>J2</h4>
				</div>
				<div class="col mx-1 jumbotron">
					<h4>J3</h4>
				</div>
			</div>
		</div>
		<div class="card col mx-2">
			<h3>Sample2</h3>
		</div>
	</div>
	<div class="row mt-3">
		<div class="card col">
			<h5>Sample3</h5>
		</div>
	</div>
</div>
{% endblock %}

