{% extends 'html/header.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-8 mx-auto mt-5 shadow-lg">
		<div class="card-body">
			<h3 class="bg-success text-light p-3 text-center border rounded">Login</h3>
			<form>
				<input type="text" name="" placeholder="Username" class="form-control my-2">
				<input type="password" name="" placeholder="Password" class="form-control my-2">
				<input type="submit" class="btn btn-primary btn-block my-2" value="Login">
			</form>
		</div>
	</div>
</div>
{% endblock %}